:root {
  --fontRoboto: 'Roboto', sans-serif;
  --white: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: fadingGradient 15s ease infinite;
  -moz-animation: fadingGradient 15s ease infinite;
  animation: fadingGradient 15s ease infinite;
  font: 300 1.125rem/1.4 var(--fontRoboto);
  text-shadow: 0 .0625rem .125rem rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes fadingGradient {
  0% { 
    background-position: 0% 50%;
  }
  
  50% { 
    background-position: 100% 50%;
  }

  100% { 
    background-position: 0% 50%;
  }
}

@-moz-keyframes fadingGradient {
  0% {
    background-position: 0% 50%;
  }

  50% { 
    background-position: 100% 50%;
  }

  100% { 
    background-position: 0% 50%;
  }
}

@keyframes fadingGradient {
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}

body, a {
  color: var(--white);
}

a {
  text-decoration: none;
}

.container {
  max-width: 25rem;
  padding: 0 1rem;
}

.person__photo {
  display: block;
  margin: 0 auto;
  max-width: 11.25rem;
  border-radius: 50%;
  border: .25rem solid rgba(238,238,238,.5);
}

.person__name {
  margin: 1rem 0;
  font: 700 2.125rem/1 var(--fontRoboto);
}

.person__name,
.about > * {
  text-align: center;
}

.about__contact {
  margin: .75rem 0 1.25rem;
}

.social {
  display: flex;
  justify-content: center;
}

.social__link {
  opacity: .8;
  margin: 0 .625rem;
}

.social__link:hover {
  opacity: 1;
  transition: opacity .5s;
}

@media (max-width: 26.63em) {
  .container {
    max-width: 18.75rem;
  }

  .person__photo {
    max-width: 10rem;
  }

  .person__name {
    font-size: 1.75rem;
    margin-bottom: .875rem;
  }

  .about {
    font-size: 1rem;
  }

  .social__link {
    font-size: 1rem;
    margin: 0 .5rem;
  }
}
